<html>
<div class="divTitle">
	<br>
	<h1>&nbsp; STL</h1>
	<h4>&nbsp; Bienvenidos a la primer aplicacion <span style="color: #4169E1">libre</span> de analisis de
		sentimientos en Twitter</h4>
	 
	<br>
</div>
<div class="div1">
	<!-- Get user tweets-->
	<br>
	<h2>&nbsp;Analizar tweets de un usuario:</h2>
	<form>
		<div class="panel panel1">
			<label class="label" for="nombreUsuario1">&nbsp; Nombre
				Usuario:</label><input type="text"
				[(ngModel)]="variablesGetUserTweets.userName" name="nombreUsuario1">

			<label class="label" for="cant1">&nbsp;Cantidad a descargar:</label>
			<input type="number"
				[(ngModel)]="variablesGetUserTweets.cantidadDescargar" name="cant1">
			<button class="button" title="Descarga la cantidad ingresada de tweets extraidos de la linea de timepo del usuario" (click)="analizarUserTweets()">Analizar</button>
		</div>
		
		<div class="panel panel1 small"><span style="color: #4169E1">Titulo</span> 1dddddddddddddddddddddddd
		ddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		ddddddddddddddddddddddddddd</div>
		<br>
		<br>
	</form>
</div>

<hr width="100%">

<div class="div2">
	<!-- Get User Replies-->
	<br>
	<h2>
		<span>&nbsp;Analizar respuestas a un tweet:</span>
	</h2>
	<form>
		<div class="panel panel1">
			<label class="label" for="nombreUsuario2">&nbsp;Nombre
				usuario:</label><input type="text"
				[(ngModel)]="variablesGetReplies.userName" name="nombreUsuario2">

			<label class="label" for="idTweet1">&nbsp;Identificador del
				tweet:</label><input type="text" [(ngModel)]="variablesGetReplies.tweetId"
				name="idTweet1">

			<label class="label" for="cant2">&nbsp;Cantidad a descargar:</label><input
				type="number" [(ngModel)]="variablesGetReplies.cantidadDescargar"
				name="cant2">
			<button class="button" (click)="analizarReplies()">Analizar</button>
		</div>
		<div class="panel panel1 small"><span style="color: #4169E1">Titulo</span> 1dddddddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddddddddd</div>
		<br>
		<br>
	</form>
</div>

<hr width="100%">

<div class="div3">
	<!-- Get Hashtag-->
	<br>
	<h2>&nbsp;Analizar tweets con cierto Hashtag:</h2>
	<form>
		<div class="panel panel1">
			<label class="label" for="nombreUsuario3">&nbsp;Hashtag:</label><input
				type="text" [(ngModel)]="variablesGetHashtag.userName"
				name="nombreUsuario3">

			<label class="label" for="cant3">&nbsp;Cantidad a descargar:</label><input
				type="number" [(ngModel)]="variablesGetHashtag.cantidadDescargar"
				name="cant3">
			<button class="button" (click)="analizarHashtag()">Analizar</button>
		</div>
		<div class="panel panel1 small"><span style="color: #4169E1">Titulo</span> 1dddddddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddd
		dddddddddddddddddddddddddddddddddd</div>
		<br>
		<br>
	</form>
</div>
<br>
</html>
